#Ignore huge data folders
data*

#Ignore scripts written for learning advanced Python features
learn_python*

#Ignore temporary files
*~

#Ignore non OOP achaarification file
/scripts/achaar.py

#Ignore recording files like profiling or overnight results
*rec

#Ignore commiting checkpoints
*ckpt*
